
     <h3>Detalle usuario</h3> 
        <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nombre: {{$ctrl.usuario.username}}</h4>
        <p class="card-text">Usuario: {{ $ctrl.usuario.name }}</p>
        <p class="card-text">Mail: {{ $ctrl.usuario.email }}</p>
        <p class="card-text">Direccion: {{ $ctrl.usuario.address.city }}, {{ $ctrl.usuario.address.street }}, {{ $ctrl.usuario.address.suite }}</p>
        <p class="card-text">Telefono: {{ $ctrl.usuario.phone }}</p>
      </div>
    </div>
